.search_input input[type='text']{
    display: inline-block;
    width: 250px;
    border-radius: 15px;
    height: 30px;
    text-indent: 30px;
    border: 1px solid ;
}
.search_input input[type='text']:focus{
    border: 0px;
    border-color: white;
}
.search_input {
    margin-top: 10px;
}
.search_input i{
    position: relative;
    left: 30px;// 这里更改图标的位置
    // top: 1px;
    // color: #B2B2B2;//这里可以更改图标的颜色
}